.slider {
	width: 100%;
}

.slide {
	width: 100%;

	display: flex;
	flex-wrap: wrap;

}

.slide_1 {
	width: 100%;



}

.slide__img {
	background: url('../assets/bg_testimonials.jpg') center/cover no-repeat;
	flex-basis: 49.8%;
	width: 50vw;
	height: 490px;
}

.slide__discription {
	background-color: #5C3249;
	flex-basis: 49.8%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* padding-left: 120px; */
}

.slide__discription>h2 {
	width: 470px;
	height: 230px;
	font-family: 'Cardo';
	font-style: italic;
	font-weight: 400;
	font-size: 36px;
	line-height: 49px;
	color: var(--color-white);

}

.slide__discription>h6 {

	font-weight: 700;
	font-size: 13px;
	line-height: 15px;
	text-transform: uppercase;
	color: var(--color-white);
	padding-bottom: 100px;
}

@media (max-width: 320px) {
	.slide {
		flex-direction: column;
	}
}